*.~*
*.$$$
*.a
*.bak
*.d
*.elf
*.gcda
*.gcno
*.ilk
*.lib
*.lnk
*.lst
*.map
*.o
*.obj
*.old
*.pdb


sync.ffs_db
my_config.mke
make_log.txt


/_reports/*.generated.txt

/doc/*.docx
/dox/
/dox/html/


# Eclipse project files
/.metadata/
/RemoteSystemsTempFiles/

/release/developer/*

/source/gcov/
/source/lib/
/source/lint/*_temp.lnt
/source/obj_*/
/source/objs/
/source/*.bin
/source/16174prog03
/source/16174prog03.16174a03-gateway
/source/16174prog03_tests.exe
/source/16174prog03_tests.txt


/source/cleanup_files.bat
/source/copy_gateway_bin_file_*.bat
/source/unit_test_local_config.mke
/Default/
